GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SERVICE_ACCOUNT_JSON_B64=
GOOGLE_SHEETS_SPREADSHEET_ID=1tjfJJSMFMeOclSGuXsLs0NdyS_g1Qv9zuGs28MELObY
GOOGLE_SHEETS_TARGETS_SHEET=metas
GOOGLE_SHEETS_TARGETS_RANGE=A:O
