# Supabase
SUPABASE_PROJECT_REF=
SUPABASE_ACCESS_TOKEN=

# Bling
BLING_SECRETS_FILE=
BLING_CLIENT_ID_CZ=
BLING_CLIENT_SECRET_CZ=
BLING_REDIRECT_URI_CZ=
BLING_CLIENT_ID_CR=
BLING_CLIENT_SECRET_CR=
BLING_REDIRECT_URI_CR=

# Metabase (optional)
METABASE_URL=
METABASE_USER=
METABASE_PASSWORD=

